<div class="header">
  <div class="header-left">
    <h2>Smartbudget</h2>
    <div *ngIf="shouldShow" class="budget-status-box">
      <h3 *ngIf="amountLeft > 0 && hasEnteredAmount" class="left-budget">
        Amount left to budget: Rs. {{ amountLeft | number:'1.2-2' }}
      </h3>

      <h3 *ngIf="amountLeft === 0 && hasEnteredAmount" class="balanced">
        🎉 You've Got a Budget!
      </h3>

      <h3 *ngIf="amountLeft < 0 && hasEnteredAmount" class="over-budget">
        Amount over budget: Rs. {{ amountLeft * -1 | number:'1.2-2' }}
      </h3>
    </div>
  </div>

  <div class="month-switch">
    <span class="arrow" (click)="goToPreviousMonth()">&#10094;</span>

    <div class="month-text" (click)="toggleMonthPopover()">
      {{ months[selectedMonthIndex].name }} {{ selectedYear }}
    </div>

    <span class="arrow" (click)="goToNextMonth()">&#10095;</span>
  </div>
</div>

<!-- MONTH POPOVER -->
<div class="popover-wrapper" *ngIf="isMonthPopoverOpen">
  <div class="month-popover">

    <!-- MONTH LIST WITH ARROWS -->
    <div class="month-list-wrapper">

      <!-- LEFT ARROW -->
      <span class="arrow-list" (click)="goToPopupPreviousMonth()">&#10094;</span>

      <!-- 9 MONTH CARDS -->
      <div class="month-list">
        <div class="month-item" *ngFor="let m of visibleMonths" [class.active]="m.isSelected"
          (click)="selectMonth(m.index, m.year)">
          <div>{{ m.name }}</div>
          <div class="year-small">{{ m.year }}</div>
        </div>
      </div>
      <!-- RIGHT ARROW -->
      <span class="arrow-list" (click)="goToPopupNextMonth()">&#10095;</span>
    </div>
  </div>
</div>