<div *ngIf="!budgetExistsForMonth">
  <div class="center-wrapper">
    <img src="assets/budget-icon.png" class="icon" />
    <h1>Hey there, looks like you need a budget for {{ selectedMonth }}.</h1>
    <button class="btn-green" (click)="startPlanningForMonth()">Start Planning for {{ selectedMonth }}</button>
    <button class="btn-green" *ngIf="hasAnyBudget" (click)="copyLatestBudgetForMonth()">Copy From Latest
      Budget</button>
  </div>
</div>

<div *ngIf="budgetExistsForMonth">
  <!-- your full app-budget page -->
  <div *ngIf="budgetExistsForMonth">
    <div class="layout">

      <!-- LEFT SIDE (SCROLL AREA) -->
      <div class="left-section card">
        <div class="left-scroll scroll-area">
          <!-- INCOME -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Income</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of income">
                <td>{{ item.name }}</td>
                <!-- Planned Editable -->
                <td>
                  <!-- DISPLAY MODE -->
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', true)">
                    {{ item.planned | currency:'INR'}}
                  </span>
                  <!-- EDIT MODE -->
                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>
                <!-- Received Editable -->
                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount">
                    {{ item.received | currency:'INR' }}
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <!-- Savings -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Savings</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of savings">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>

                </td>
              </tr>
            </table>
          </div>

          <!-- Giving -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Giving</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of giving">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <!-- Housing -->
          <div class="accordion-item" [class.open]="isOpen">
            <div class="accordion-header" (click)="toggle()">
              <h5>Housing</h5>

              <span class="arrow" [class.rotate]="isOpen">
                ▼
              </span>
            </div>

            <div class="accordion-body">

              <!-- TABLE HEADER -->
              <div class="row-head">
                <span></span>
                <span>Planned</span>
                <span>Received</span>
              </div>

              <!-- TABLE ROWS -->
              <div class="row-item" *ngFor="let item of housing">
                <span>{{ item.name }}</span>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned',false)">
                  {{ item.planned | currency:'INR' }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

                <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                  {{ getReceivedDisplay(item) }}
                </span>
              </div>
            </div>
          </div>

          <!-- Transportation -->
          <div class="accordion-item" [class.open]="isExp">
            <div class="accordion-header" (click)="togglet()">
              <h5>Transportation</h5>

              <span class="arrow" [class.rotate]="isExp">
                ▼
              </span>
            </div>

            <div class="accordion-body">

              <!-- TABLE HEADER -->
              <div class="row-head">
                <span></span>
                <span>Planned</span>
                <span>Received</span>
              </div>

              <!-- TABLE ROWS -->
              <div class="row-item" *ngFor="let item of tranportation">
                <span>{{ item.name }}</span>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned',false)">
                  {{ item.planned | currency:'INR' }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

                <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                  {{ getReceivedDisplay(item) }}
                </span>
              </div>
            </div>
          </div>

          <!-- Food -->
          <div class="accordion-item" [class.open]="isExpand">
            <div class="accordion-header" (click)="togglef()">
              <h5>Food</h5>
              <span class="arrow" [class.rotate]="isExpand">
                ▼
              </span>
            </div>
            <div class="accordion-body">
              <!-- TABLE HEADER -->
              <div class="row-head">
                <span></span>
                <span>Planned</span>
                <span>Received</span>
              </div>
              <!-- TABLE ROWS -->
              <div class="row-item" *ngFor="let item of food">
                <span>{{ item.name }}</span>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned',false)">
                  {{ item.planned | currency:'INR' }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

                <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                  {{ getReceivedDisplay(item) }}
                </span>
              </div>
            </div>
          </div>

          <!-- Personal -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Personal</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of personal">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <!-- Insurance -->
          <div class="accordion-item" [class.open]="isOpeni">
            <div class="accordion-header" (click)="togglei()">
              <h5>Insurance</h5>
              <span class="arrow" [class.rotate]="isOpeni">
                ▼
              </span>
            </div>
            <div class="accordion-body">
              <!-- TABLE HEADER -->
              <div class="row-head">
                <span></span>
                <span>Planned</span>
                <span>Received</span>
              </div>
              <!-- TABLE ROWS -->
              <div class="row-item" *ngFor="let item of insurance">
                <span>{{ item.name }}</span>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned',false)">
                  {{ item.planned | currency:'INR' }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

                <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                  {{ getReceivedDisplay(item) }}
                </span>
              </div>
            </div>
          </div>

          <!-- Loan Repayment -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Loan Repayment</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of loan">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <!-- Entertainment -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Entertainment</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of entertainment">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <!-- Child Care -->
          <div class="card">
            <table class="table">
              <tr>
                <th>Child Care</th>
                <th>Planned</th>
                <th>Received</th>
              </tr>

              <tr *ngFor="let item of childcare">
                <td>{{ item.name }}</td>

                <td>
                  <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                    (click)="editAmount(item, 'planned', false)">
                    {{ item.planned | currency:'INR' }}
                  </span>

                  <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                    (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
                </td>

                <td>
                  <span *ngIf="!item.editReceived" class="amount clickable-amount" [ngClass]="getReceivedClass(item)">
                    {{ getReceivedDisplay(item) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE (FIXED BUDGET SUMMARY) -->
      <div class="right-section card">
        <div class="summary-fixed">

          <div class="tabs">
            <button [class.active]="activeTab === 'summary'" (click)="activeTab = 'summary'">Budget Summary</button>
            <button [class.active]="activeTab === 'transactions'"
              (click)="activeTab = 'transactions'">Transactions</button>
          </div>
          <div>
            <div *ngIf="activeTab === 'summary'" class="tab-pane">
              <h3>Budget Summary</h3>
              <div class="pie-chart-wrapper">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                  [type]="'doughnut'">
                </canvas>
              </div>
              <div class="category-list" *ngIf="categoryDisplay.length > 0">
                <div class="category-row" *ngFor="let c of categoryDisplay">
                  <span class="dot" [style.backgroundColor]="c.color"></span>
                  <span class="name">{{ c.name }}</span>
                  <span class="percent">{{ c.percent }}%</span>
                </div>
              </div>
              <button class="reset-btn" (click)="openResetPopup()">⟳ Reset Budget</button>
              <app-reset-budget-popup *ngIf="showResetPopup" (closePopup)="showResetPopup = false"
                (makeZero)="resetAllAmountsToZero()" (copyLast)="copyLatestBudgetForMonth()">
              </app-reset-budget-popup>
            </div>
            <div *ngIf="activeTab === 'transactions'" class="tab-pane">
              <div class="page-wrapper">
                <div class="content">
                  <!-- Left: Transactions -->
                  <div class="transactions-box card">
                    <h3>Transactions</h3>
                    <div class="empty-state" *ngIf="transactions.length === 0">
                      <div class="empty-icon">📭</div>
                      <h4>No transactions yet</h4>
                      <p>Add your first income or expense to see it here.</p>
                    </div>
                    <div class="transactions-scroll">
                      <div class="transaction-card" *ngFor="let t of transactions; let i = index"
                        (click)="editTransaction(t)">
                        <mat-grid-list cols="12" rowHeight="40px" class="transaction-grid">
                          <mat-grid-tile colspan="2" class="icon-circle">{{ t.date | date:'MMM dd'}}</mat-grid-tile>
                          <mat-grid-tile colspan="6" class="left-tile">{{ t.category }}</mat-grid-tile>
                          <mat-grid-tile colspan="4"> {{ t.amount | currency:'INR'}}</mat-grid-tile>
                        </mat-grid-list>
                      </div>
                    </div>
                  </div>
                  <div class="confirm-overlay" *ngIf="showDeletePopup">
                    <div class="confirm-box">
                      <p>Are you sure want to delete this transaction?</p>
                      <div class="actions1">
                        <button class="yes" (click)="confirmDelete()">Yes</button>
                        <button class="no" (click)="cancelDelete()">No</button>
                      </div>
                    </div>
                  </div>
                  <button class="fab" (click)="openPopup(popupType)"> + </button>
                  <!-- Right: Summary -->
                  <div class="summary-box card">
                    <h3>Summary</h3>
                    <div class="empty-state" *ngIf="!summary || (summary | keyvalue).length === 0">
                      <div class="empty-icon">📊</div>
                      <h4>No summary available</h4>
                      <p>Summary will appear once transactions are added.</p>
                    </div>
                    <div class="summary-card" *ngFor="let s of summary | keyvalue">
                      <mat-grid-list cols="2" rowHeight="15px" gutterSize="8px">
                        <!-- Row 1 : Category -->
                        <mat-grid-tile>
                          <div class="category left-align">
                            {{ s.key }}
                          </div>
                        </mat-grid-tile>
                        <!-- Row 1 : Amount -->
                        <mat-grid-tile>
                          <div class="value" [ngClass]="getProgressClass(s.value) + '-text'">
                            ₹{{ s.value.spent }} Out of ₹{{ s.value.allotted }}
                          </div>
                        </mat-grid-tile>
                        <!-- Row 2 : Progress bar (full width) -->
                        <mat-grid-tile colspan="2">
                          <div class="progress">
                            <div class="progress-fill" [ngClass]="getProgressClass(s.value)"
                              [style.width.%]="getProgressPercent(s.value)">
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                    </div>
                  </div>

                  <!-- Popup -->
                  <div class="popup-backdrop" *ngIf="showPopup">
                    <div class="popup">
                      <div class="popup-header">
                        <h3>
                          {{ isEditMode
                          ? (popupType === 'income' ? 'Edit Income' : 'Edit Expense')
                          : (popupType === 'income' ? 'Add Income' : 'Add Expense') }}
                        </h3>
                        <span class="close" (click)="closePopup()">✕</span>
                      </div>
                      <div class="toggle">
                        <label>
                          <input type="radio" name="type" value="income" [(ngModel)]="popupType"
                            (change)="onTypeChange()" />
                          Income
                        </label>
                        <label>
                          <input type="radio" name="type" value="expense" [(ngModel)]="popupType"
                            (change)="onTypeChange()" />
                          Expense
                        </label>
                      </div>
                      <div class="form">
                        <div class="form-group">
                          <label>Category</label>
                          <select [(ngModel)]="form.category">
                            <option *ngFor="let c of selectedCategoryList">{{ c }}</option>
                          </select>
                        </div>
                        <div class="row">
                          <div class="form-group half">
                            <label>Amount</label>
                            <input type="number" [(ngModel)]="form.amount" />
                          </div>
                          <div class="form-group half">
                            <label>Date</label>
                            <input type="date" [(ngModel)]="form.date" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <input type="text" [(ngModel)]="form.description"
                            [placeholder]="popupType==='income' ? 'Where did this money come from?' : 'Where did you spend this money?'" />
                        </div>
                        <div class="actions">
                          <button *ngIf="isEditMode" class="cancel" (click)="openDeletePopupFromEdit()">
                            Delete
                          </button>
                          <button class="cancel" (click)="closePopup()">Cancel</button>
                          <button class="submit" (click)="submitTransaction()">
                            {{ isEditMode ? 'Update' : (popupType === 'income' ? 'Add Income' : 'Add Expense') }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- POPUP EDIT BOX -->
              <div class="left-toast" *ngIf="showLeftToast">
                {{ leftMessage }}
              </div>
            </div>

            <div class="success-popup" *ngIf="successPopup">
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>