<div *ngIf="!budgetExistsForMonth">
  <app-no-budget (startPlanning)="startPlanningForMonth()"
    (copyLatestBudget)="copyLatestBudgetForMonth()"></app-no-budget>
</div>

<div *ngIf="budgetExistsForMonth">
  <!-- your full app-budget page -->


  <div *ngIf="shouldShowSummaryBox()" class="budget-summary-box">

    <h3 *ngIf="amountLeft > 0" class="left-budget">
      Amount left to budget: Rs. {{ amountLeft }}
    </h3>

    <h3 *ngIf="amountLeft === 0" class="balanced">
      🎉 You've Got a Budget!
    </h3>

    <h3 *ngIf="amountLeft < 0" class="over-budget">
      Amount over budget: Rs. {{ amountLeft * -1 }}
    </h3>

  </div>
  <div *ngIf="budgetExistsForMonth">
    <div class="layout">

      <!-- LEFT SIDE (SCROLL AREA) -->
      <div class="left-scroll scroll-area">

        <!-- INCOME -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Income</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of income">
              <td>{{ item.name }}</td>

              <!-- Planned Editable -->
              <td>
                <!-- DISPLAY MODE -->
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', true)">
                  ₹ {{ item.planned }}
                </span>

                <!-- EDIT MODE -->
                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned" (input)="onAmountChange()"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>


              <!-- Received Editable -->
              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received',true)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>

          </table>
        </div>


        <!-- Savings -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Savings</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of savings">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>


        <!-- Giving -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Giving</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of giving">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>


        <!-- Housing -->
        <div class="accordion-item" [class.open]="isOpen">
          <div class="accordion-header" (click)="toggle()">
            <h5>Housing</h5>

            <span class="arrow" [class.rotate]="isOpen">
              ▼
            </span>
          </div>

          <div class="accordion-body">

            <!-- TABLE HEADER -->
            <div class="row-head">
              <span></span>
              <span>Planned</span>
              <span>Received</span>
            </div>

            <!-- TABLE ROWS -->
            <div class="row-item" *ngFor="let item of housing">
              <span>{{ item.name }}</span>
              <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                (click)="editAmount(item, 'planned',false)">
                ₹ {{ item.planned }}
              </span>

              <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

              <span *ngIf="!item.editReceived" class="amount clickable-amount"
                (click)="editAmount(item, 'received', false)">
                ₹ {{ item.received }}
              </span>

              <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />

            </div>
          </div>
        </div>

        <!-- Transportation -->
        <div class="accordion-item" [class.open]="isExp">
          <div class="accordion-header" (click)="togglet()">
            <h5>Transportation</h5>

            <span class="arrow" [class.rotate]="isExp">
              ▼
            </span>
          </div>

          <div class="accordion-body">

            <!-- TABLE HEADER -->
            <div class="row-head">
              <span></span>
              <span>Planned</span>
              <span>Received</span>
            </div>

            <!-- TABLE ROWS -->
            <div class="row-item" *ngFor="let item of tranportation">
              <span>{{ item.name }}</span>
              <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                (click)="editAmount(item, 'planned',false)">
                ₹ {{ item.planned }}
              </span>

              <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

              <span *ngIf="!item.editReceived" class="amount clickable-amount"
                (click)="editAmount(item, 'received', false)">
                ₹ {{ item.received }}
              </span>

              <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />

            </div>
          </div>
        </div>

        <!-- Food -->
        <div class="accordion-item" [class.open]="isExpand">
          <div class="accordion-header" (click)="togglef()">
            <h5>Food</h5>
            <span class="arrow" [class.rotate]="isExpand">
              ▼
            </span>
          </div>
          <div class="accordion-body">
            <!-- TABLE HEADER -->
            <div class="row-head">
              <span></span>
              <span>Planned</span>
              <span>Received</span>
            </div>
            <!-- TABLE ROWS -->
            <div class="row-item" *ngFor="let item of food">
              <span>{{ item.name }}</span>
              <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                (click)="editAmount(item, 'planned',false)">
                ₹ {{ item.planned }}
              </span>

              <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />


              <span *ngIf="!item.editReceived" class="amount clickable-amount"
                (click)="editAmount(item, 'received', false)">
                ₹ {{ item.received }}
              </span>

              <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />


            </div>
          </div>
        </div>


        <!-- Personal -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Personal</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of personal">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>

        <!-- Health -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Health</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of health">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>


        <!-- Insurance -->
        <div class="accordion-item" [class.open]="isOpeni">
          <div class="accordion-header" (click)="togglei()">
            <h5>Insurance</h5>
            <span class="arrow" [class.rotate]="isOpeni">
              ▼
            </span>
          </div>
          <div class="accordion-body">
            <!-- TABLE HEADER -->
            <div class="row-head">
              <span></span>
              <span>Planned</span>
              <span>Received</span>
            </div>
            <!-- TABLE ROWS -->
            <div class="row-item" *ngFor="let item of insurance">
              <span>{{ item.name }}</span>
              <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                (click)="editAmount(item, 'planned',false)">
                ₹ {{ item.planned }}
              </span>

              <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />

              <span *ngIf="!item.editReceived" class="amount clickable-amount"
                (click)="editAmount(item, 'received', false)">
                ₹ {{ item.received }}
              </span>

              <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />


            </div>
          </div>
        </div>

        <!-- Loan Repayment -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Loan Repayment</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of loan">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>


        <!-- Entertainment -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Entertainment</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of entertainment">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>


        <!-- Child Care -->
        <div class="card">
          <table class="table">
            <tr>
              <th>Child Care</th>
              <th>Planned</th>
              <th>Received</th>
            </tr>

            <tr *ngFor="let item of childcare">
              <td>{{ item.name }}</td>

              <td>
                <span *ngIf="!item.editPlanned" class="amount clickable-amount"
                  (click)="editAmount(item, 'planned', false)">
                  ₹ {{ item.planned }}
                </span>

                <input *ngIf="item.editPlanned" type="number" [(ngModel)]="item.planned"
                  (blur)="finishEdit(item, 'planned')" (keydown.enter)="finishEdit(item, 'planned')" autofocus />
              </td>

              <td>
                <span *ngIf="!item.editReceived" class="amount clickable-amount"
                  (click)="editAmount(item, 'received', false)">
                  ₹ {{ item.received }}
                </span>

                <input *ngIf="item.editReceived" type="number" [(ngModel)]="item.received"
                  (blur)="finishEdit(item, 'received')" (keydown.enter)="finishEdit(item, 'received')" autofocus />
              </td>
            </tr>
          </table>
        </div>

      </div>

      <!-- RIGHT SIDE (FIXED BUDGET SUMMARY) -->
      <div class="summary-fixed">
        <div class="card">
          <h3>Budget Summary</h3>
          <div class="pie-chart-wrapper">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
              [type]="'doughnut'">
            </canvas>
          </div>
          <div class="category-list" *ngIf="categoryDisplay.length > 0">
            <div class="category-row" *ngFor="let c of categoryDisplay">
              <span class="dot" [style.backgroundColor]="c.color"></span>
              <span class="name">{{ c.name }}</span>
              <span class="percent">{{ c.percent }}%</span>
            </div>
          </div>
          <button class="reset-btn" (click)="openResetPopup()">⟳ Reset Budget</button>

          <app-reset-budget-popup *ngIf="showResetPopup" (closePopup)="showResetPopup = false"
            (makeZero)="resetAllAmountsToZero()" (copyLast)="copyLastMonthBudget()">
          </app-reset-budget-popup>
        </div>
      </div>
      <!-- POPUP EDIT BOX -->
      <div class="left-toast" *ngIf="showLeftToast">
        {{ leftMessage }}
      </div>

    </div>
  </div>
</div>