.auth-page {
  display: flex;
  height: 100vh;
  background: #fff;
}

.auth-left {
  flex: 1;
  background: #fff5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;

  img {
    width: 450px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    max-width: 320px;
    color: #666;
  }
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.logo {
  font-size: 28px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  background: #ff4d5a;
  color: white;
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;

  i {
    font-size: 18px;
    cursor: pointer;
  }
}

.link {
  text-align: center;
  font-size: 14px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 25px;
}

.remember {
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.remember input {
  width: 26px;
  cursor: pointer;
}

.forgot {
  font-size: 14px;
  color: #3b6cff;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}
