.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* Page should NOT scroll */
}

app-sidebar {
  width: 80px;
}

.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f9f9fb;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* ONLY THIS SCROLLS */
.center-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
  /* avoid cut content */
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
}