.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* Page should NOT scroll */
}

.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f9f9fb;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
}

/* MAIN CONTENT */
.app-content {
  margin-left: 80px;
  /* same as sidebar width */
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

/* MOBILE: no offset */
@media (max-width: 768px) {
  .app-content {
    margin-left: 0;
    overflow-y: auto;
  }
}