.center-wrapper {
  text-align: center;
  margin-top: 60px;
}

.icon {
  width: 370px;
  margin-bottom: 20px;
}

.btn-green {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn-green-outline {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  width: 400px;
}
